{{ apache_global_vhost_settings }}

<VirtualHost *:80>
  ServerName mediacommons.local
  ServerAlias www.mediacommons.local
  DocumentRoot "/var/www/drupalvm/builds"
  Alias /alt-ac       /var/www/drupalvm/builds/alt-ac
  Alias /fieldguide   /var/www/drupalvm/builds/fieldguide
  Alias /imr          /var/www/drupalvm/builds/imr
  Alias /intransition /var/www/drupalvm/builds/intransition
  Alias /tne          /var/www/drupalvm/builds/tne
  Alias /             /var/www/drupalvm/builds/mediacommons/
  
  <Directory "/var/www/drupalvm/builds/mediacommons">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/fieldguide">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /fieldguide
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/imr">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /imr
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/intransition">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /intransition
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/tne">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /tne
    </IfModule>
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/alt-ac">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /alt-ac
    </IfModule>    
  </Directory>          
  
  <FilesMatch \.php$>
    SetHandler "proxy:fcgi://127.0.0.1:9000"
  </FilesMatch>

</VirtualHost>

<VirtualHost *:80>
  ServerName adminer.mediacommons.local
  DocumentRoot "/opt/adminer"
  <Directory "/opt/adminer">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
  <FilesMatch \.php$>
    SetHandler "proxy:fcgi://127.0.0.1:9000"
  </FilesMatch>
</VirtualHost>

<VirtualHost *:80>
  ServerName 192.168.88.88
  ServerAlias dashboard.mediacommons.local
  DocumentRoot "/var/www/dashboard"
  <Directory "/var/www/dashboard">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
  <FilesMatch \.php$>
    SetHandler "proxy:fcgi://127.0.0.1:9000"
  </FilesMatch>
</VirtualHost>
