{{ apache_global_vhost_settings }}

{# Set up VirtualHosts #}

<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ vhost.servername }}
{% if vhost.serveralias is defined %}
  ServerAlias {{ vhost.serveralias }}
{% endif %}
{% if vhost.documentroot is defined %}
  DocumentRoot "{{ vhost.documentroot }}"
{% endif %}

{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}
{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride {{ vhost.allow_override | default(apache_allow_override) }}
    Options {{ vhost.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
  </Directory>
{% endif %}
{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}
</VirtualHost>

<VirtualHost *:80>
  ServerName mediacommons.local
  ServerAlias www.mediacommons.local
  DocumentRoot "/var/www/drupalvm/builds"
  Alias /alt-ac       /var/www/drupalvm/builds/alt-ac
  Alias /fieldguide   /var/www/drupalvm/builds/fieldguide
  Alias /imr          /var/www/drupalvm/builds/imr
  Alias /intransition /var/www/drupalvm/builds/intransition
  Alias /tne          /var/www/drupalvm/builds/tne
  Alias /             /var/www/drupalvm/builds/mediacommons/
  
  <Directory "/var/www/drupalvm/builds/mediacommons">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/fieldguide">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /fieldguide
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/imr">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /imr
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/intransition">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /intransition
    </IfModule>    
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/tne">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /tne
    </IfModule>
  </Directory>
  
  <Directory "/var/www/drupalvm/builds/alt-ac">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
    <IfModule mod_rewrite.c>
      RewriteBase /alt-ac
    </IfModule>    
  </Directory>          
  
  <FilesMatch \.php$>
    SetHandler "proxy:fcgi://127.0.0.1:9000"
  </FilesMatch>

</VirtualHost>
